.computershop {
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}

.body {
    background-color: #f8eee1;
}

.product_img {
    width: 120px;
    height: 120px;
}

.computershop_list {
    margin-top: 60px;
}

.home_containerLine {
    width: 100%;
    height: 25px;
    background-color: #31302f;
}