.productDetail {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #f8eee1;
}

.productList {
    position: relative;
    width: 1050px;
}

.productList > div > img{
    width: 500px;
    position: absolute;
    left: 0;
    top: 100px;
}

.productListBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 500px;
    top: 100px;
    right: 0px;
    padding: 10px;
}

.productListBox span:nth-child(1) {
    margin-bottom: 20px;
    font-size: 25px;
}
.productListBox > span {
    margin-bottom: 20px;
    
}

.btnBox {
    display: flex;
    position: absolute;
    top: 500px;
    right: 0;
}

.btnBox button:nth-child(1) {
    margin-right: 10px;
}

.productDesc {
    position: absolute;
    top: 600px;
    width: 100%;
    height: 500px;
}

