.productUpdate {
    height: 100vh;
    background-color: #f8eee1;
    display: flex;
    justify-content: center;
}

.productBox {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 700px;
}

.productBox .productTitleName {
    margin-top: 100px;
}

.productBox .uploadBtn {
    background-color:#e65a41;
    color: #fff;
    width: 80px;
    top: 120px;
    right: 20px;
    position: absolute;
}

.updateFooter1 {
    width: 100%;
    height: 70px;
    bottom: 10px;
    background-color: #31302f;
    color: #f8eee1;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}