.text-center-pd12 {
    display: flex;
    justify-content: space-between;
    
}


.boardWrite {
    background-color: #f8eee1;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.boardContainer {
    margin-top: 20px;
}

