# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#upload
/upload

#database
# /database.json 일단 혼선 피해서 올림.. 최종적으로 ignore 시키면 될듯

#google

# google.json도 최종적으로 ignore 시켜야됨 ..
# /google.json
google.json
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
